@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #000000fa; /*#000000e9 ; #000000f1*/
    color: #fffafa;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 50px;
    padding: 3% 0% 0%;
}

.apresentacao__texto {
    width: 580px;
    display: flex;
    flex-direction: column;
}

.apresentacao__texto__titulo {
    font-size: 34px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__texto__titulo-destaque {
    color: #22d4fd;
}

.apresentacao__texto__paragrafo {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 25px;
    margin-bottom: 40px;
}

.apresentacao__texto__links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.apresentacao__texto__links__botoesMenores {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.apresentacao__texto__links__botoesMenores__decoracao {
    background-color: #22d4fd;
    width: 265px;
    text-align: center;
    padding: 25px 0px;
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 16px;
}

.apresentacao__texto__links__botoesMaiores {
    display: flex;
    align-items: center;
    justify-content: center;
}

.apresentacao__texto__links__botoesMaiores__decoracao {
    background-color: #22d4fd;
    width: 535px;
    text-align: center;
    padding: 25px 0px;
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 16px;
}

.apresentacao__imagem {
    max-width: 520px;
    height: auto;
    border-radius: 16px;
    border-width: 3px;
    border-style: outset;
    border-color: #ffffffe6;
}