@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000fa; /*#000000e9 ; #000000f1*/
    color: #fffafa;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
}

.apresentacao__texto {
    width: 610px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.apresentacao__texto__titulo {
    font-size: 34px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__texto__titulo-destaque {
    color: #22d4fd;
}

.apresentacao__texto__paragrafo {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__texto__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.apresentacao__texto__links__botoesMenores {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__texto__links__botoesMenores__decoracao {
    background-color: #22d4fd;
    width: 280px;
    text-align: center;
    padding: 25px 0px;
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 16px;
    margin: 0px 10px 0px 10px;
}

.apresentacao__texto__links__botoesMaiores {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__texto__links__botoesMaiores__decoracao {
    background-color: #22d4fd;
    width: 600px;
    text-align: center;
    padding: 25px 0px;
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 16px;
    margin: 0px 10px 0px 10px;
}

.apresentacao__imagem {
    max-height: 580px;
    max-width: 530px;
    border-radius: 16px;
    border-width: 3px;
    border-style: outset;
    border-color: #ffffffe6;
}