@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000fa; /*#000000e9 ; #000000f1*/
    color: #fffafa;
}

.cabecalho {
    padding: 3% 15% 0%;
}

.cabecalho__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 85px;
}

.cabecalho__menu__links {
    text-decoration: none;
    color: #22d4fd;
    font-family: 'Montsserat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    gap: 80px;
    padding: 6% 15%;
}

.apresentacao__texto {
    width: 615px;
}

.apresentacao__texto__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 33px;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__texto__titulo-destaque {
    color: #22d4fd;
}

.apresentacao__texto__paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    margin: 40px 0px 40px;
}

.apresentacao__texto__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.apresentacao__texto__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__texto__links__decoracao {
    width: 400px;
    text-align: center;
    padding: 18px 0px;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    border: 3px solid #22d4fd;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.apresentacao__texto__links__decoracao:hover {
    background-color: #272727fa
}

.apresentacao__imagem {
    max-width: 480px;
    height: auto;
    border: 3px inset #ffffffe6;
    border-radius: 12px;
}

.rodape {
    background-color: #22d4fd;
    color: #000000fa;
    text-align: center;
    padding: 22px 0px;
    font-family: 'Montsserat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
}

/* Fechamento CSS-->index.html ; Abertura CSS-->about.html */

